@import "tailwindcss";
.skeleton {
  @apply bg-gray-300 rounded-lg;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: loading 1.2s infinite;
  }
}

@keyframes loading {
  100% {
    left: 100%;
  }
}
